body {
    background-color: #eaebeb;
}

/* HEADER */
.my-pages-navbar {
    background-color: #333333;
    height: 100px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.my-pages-navbar .container-fluid {
    padding-top: 20px;
}

.my-pages-menu li {

}

.my-pages-navbar .my-pages-menu>li>a {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: none;
    text-transform: uppercase;
}

.my-pages-navbar .my-pages-menu>li>a:focus, .my-pages-navbar .my-pages-menu>li>a:hover {
    color: #1aa2d9;
}

.my-pages-navbar .my-pages-menu>.active>a, .my-pages-navbar .my-pages-menu>.active>a:focus, .my-pages-navbar .my-pages-menu>.active>a:hover {
    color: #1aa2d9;
    background: none;
}

.my-pages-navbar .my-pages-menu>.open>a, .my-pages-navbar .my-pages-menu>.open>a:focus, .my-pages-navbar .my-pages-menu>.open>a:hover {
    background: none;
    color: #1aa2d9;
}

.my-pages-menu > li > .my-menu-dropdown {
    background-color: #444444;
    font-size: 70%;
    width: 100%;
    border-radius: 0px;
    border-top: solid 4px #1aa2d9;
}

.my-pages-menu > li > .my-menu-dropdown > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-menu-dropdown>li>a {
    color: #ffffff;
    background: none;
}

.my-menu-dropdown>li>a:hover {
    color: #1aa2d9;
    background: none;
}

#logo {
    font-family: 'Satisfy', cursive;
	margin: 30px 30px;
    font-size: 450%;
    color: #ffe67b;
    margin-top: 0;
}
/* END OF HEADER */

/* MAIN CONTENT */
.my-front-jumbo {
	background: #eee url("../images/jumbotron.jpg") no-repeat center center;
    width: 100%;
    height: 600px;
    margin-bottom: 0px;
    background-size: cover;
    position: relative;
}

#jumbo-text {
    padding: 0px;
}

.my-front-jumbo h1,  .my-front-jumbo h2 {
	margin: 0 auto;
	text-align: center;
	background-color: #eee;
	opacity: 0.5;
    padding-top: 10px;
    padding-bottom: 10px;
        /*font-family: 'Kaushan Script', cursive;*/
}

.read-more-button {
    background-color: #2e6fab;
    border-color: #2e6fab;
}

#latest-destinations {
	background-color: #eaebeb;
    font-family: 'Didact Gothic', sans-serif;
}

#latest-destinations h1 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
    margin-top: 50px;
}

.my-destination-thumbnail {
    overflow: hidden;
    padding: 0px;
}

.my-thumbnail-holder {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.my-destination-thumbnail img {
    overflow: hidden;
    -webkit-transition: all 2s linear; /* Safari and Chrome */
    -moz-transition: all 2s linear; /* Firefox */
    -ms-transition: all 2s linear; /* IE 9 */
    -o-transition: all 2s linear; /* Opera */
    transition: all 2s linear;
    width: 100%;
}

.my-destination-thumbnail:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#latest-routes {
    background-color: #e2cfb0;
}

#latest-routes h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

/* END OF MAIN CONTENT */

/* FOOTER */
.panel-footer {
	background-color: #333333;
	color: #ffffff;
    border: none;
}

.panel-footer ul{
    list-style-type: none;
    padding: 0px;
}

.social {
    margin: 0;
    padding: 0;
}

.social a {
    margin: 5px;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-pinterest:hover { /* round pinterest icon*/
    background: #cb2027;
}

.social .fa-instagram:hover { /* round instagram icon*/
    background: #375989;
}

#copyright {
	margin-top: 20px;
	font-size: 80%;
}

/* END OF FOOTER */


/* DESTINATIONS PAGES */

.my-top-banner img {
    width: 100%;
}
.my-data-container {
    margin-top: 50px;
}

#sidebar {
    border: none;
/*    margin-left: 15px;*/
}

/*TILES */

.my-main-tiles-section h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #1aa2d9;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;

}

.my-tile-item {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.my-tile-image {
    overflow: hidden;
}

.my-tile-image img {
    width: 100%;
    padding: inherit;
    overflow: hidden;
    -webkit-transition: all 2s linear; /* Safari and Chrome */
    -moz-transition: all 2s linear; /* Firefox */
    -ms-transition: all 2s linear; /* IE 9 */
    -o-transition: all 2s linear; /* Opera */
    transition: all 2s linear;
}

.my-tile-image img:hover, .my-tile-image img:focus, .my-tile-image img:active {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    width: 100%;
}

.my-tile-info {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    width: inherit;
    height: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    background-color: #1aa2d9;    
    opacity: 0.8;
}

.my-tile-image:hover + .my-tile-info, .my-tile-image:focus + .my-tile-info, .my-tile-image:active + .my-tile-info{
    opacity: 1;
}

.my-tile-info:hover, .my-tile-info:focus, .my-tile-info:active {
    opacity: 1;
}

/* END OF TILES */


/* DESTINATIONS SIDE BAR */
.my-list-group-item {
    color: #000000;
    border: none;
    padding: 10px 30px;
    position: relative;
}

.my-list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.my-list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.my-list-group-item.active, .my-list-group-item.active:focus, .my-list-group-item.active:hover {
    z-index: 2;
    color: #1aa2d9;
    background-color: #ffffff;
    border: none;
}

.my-dest-count {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: #1aa2d9;
    border: solid 1px #1aa2d9;
    width: 25px;
    border-radius: 8px;
    position: absolute;
    right: 30px;
}
/* END OF DESTINATIONS SIDE BAR */

/* CONTACT FORM */

.contact-container {
    background: #eaebeb url("../images/middle-east/banner/017.jpg") no-repeat;
    height: 100%;
    background-size: cover;
}
.form-container {
    margin: 80px 300px;
}

#contact-form h1{
    display: block;
    margin-bottom: 30px;
    /*color: #1aa2d9;*/
    color: #444;
    text-transform: uppercase;
}

#contact-form .input {
    display: inline-block;
    border: none;
    width: 47.8%;
    margin-right: 2%;
    margin-bottom: 12px;
    box-sizing: border-box;
}

#contact-form .big {
    width: 98%;
}

#contact-form .input input {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 100%;
    line-height: 48px;
    padding: 0 15px;
    display: block;
    outline-color: #000;
    box-sizing: border-box;
}

#contact-form .input textarea {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    width: 100%;
    line-height: 100px;
    padding: 0 15px;
    outline-color: #000;
    resize: none;
}

#contact-form button {
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #1aa2d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 35px;
    line-height: 42px;
    margin-top: 10px;
}



/* END OF CONTACT FORM */








